.loveToDo-area{
    color: #ffffffe0;
    margin-bottom: 180px;
}
.loveToDo-heading{
    display: flex;
    justify-content: center;
}
.loveToDo-heading h4{
    box-shadow: 2px 2px 5px aqua;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 180px;
}
.loveToDo-details{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.loveToDo-details > *{
    flex: 1 1 calc(100% / 4 - 30px);
    text-align: center;
    height: 300px;
    width: 300px;
    padding: 40px;
    margin: 10px;
    background-color: #1d293a;
    border-radius: 4px;
    color: aqua;
}
.loveToDo-details span{
    font-size: 100px;
}
.loveToDo-details h4{
    font-weight: 800;
}

@media only screen and (max-width: 991px){
    .loveToDo-details > *{
        flex: 1 1 calc(100% / 2 - 30px);
    }
    .loveToDo-details > *:nth-child(2n-1){
        margin-left: 0;
    }
    .loveToDo-details > *:nth-child(2n-2){
        margin-right: 0;
    }
}

@media only screen and (max-width:481px){
    .loveToDo-area{
        margin-bottom: 100px;
    }
    .loveToDo-details > *{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 15px;
        align-items: center;
    }
    .loveToDo-heading h4{
        margin-bottom: 100px;
    }
}