.portfolios {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.portfolio-area {
  color: #ffffffe0;
  margin-bottom: 120px;
}
.portfolio-heading {
  display: flex;
  justify-content: center;
}
.portfolio-heading h4 {
  box-shadow: 2px 2px 5px aqua;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 120px;
}

@media (max-width: 991px) {
  .portfolios {
    display: block !important;
  }
}
