.intro-area {
    padding-top: 280px;
    color: #ffffffe0;
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}

.intro-area p {
    font-size: 22px;
    color: aqua;
    margin-bottom: 0;
}

.intro-area h1 {
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 0;
    margin-left: -3px;
}

.intro-area h3 {
    color: aqua;
}

.intro-area ul {
    display: flex;
    list-style-type: none;
    margin-left: -38px;
    margin-bottom: 25px;
}

.intro-area ul li {
    position: relative;
    margin-right: 25px;
}

.intro-area ul li:before {
    position: absolute;
    content: "";
    left: -16px;
    top: 10px;
    background-color: aqua;
    width: 8px;
    height: 8px;
    border-radius: 10px;
}

.intro-area ul li:first-child:before {
    display: none;
}

#resume {
    background-color: aqua;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
    font-weight: 900;
    border: 2px solid aqua;
    outline: none;
}

#about {
    background-color: #000f0f;
    color: aqua;
    padding: 15px 25px;
    border-radius: 4px;
    border: 2px solid aqua;
    font-weight: 900;
    text-decoration: none;
    outline: none;
}

@media only screen and (max-width: 991px) {
    .intro-area h1 {
        font-size: 62px;
    }
}

@media only screen and (max-width: 768px) {
    .intro-area {
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 210px;
    }
    .intro-area p {
        font-size: 21px;
    }
    .intro-area h1 {
        font-size: 52px;
        margin-left: 0;
    }
    .intro-area h3 {
        font-size: 22px;
    }
    .intro-area ul {
        justify-content: center;
        margin-left: -12px;
    }
    .intro-area ul li {
        font-size: 16px;
    }
    .resume {
        padding: 10px 20px;
    }
    .about {
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 481px) {
    .intro-area {
        padding-top: 220px;
    }
    .intro-area p {
        font-size: 18px;
    }
    .intro-area h1 {
        font-size: 36px;
    }
    .intro-area h3 {
        font-size: 20px;
    }
    .intro-area ul {
        flex-direction: column;
    }
    .intro-area ul li {
        font-size: 14px;
        margin-left: -15px;
    }
    .intro-area ul li:before {
        display: none;
    }
    .intro-area ul {
        margin-left: 0;
    }
    #resume,
    #about{
        padding: 10px 10px;
    }
}